@import './reset.css';
@import './helpers.css';
@import './content.css';
@import './search.css';
@import './result.css';
@import './button.css';
@import './title.css';

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
