.title {
    font-family: 'Oswald', Helvetica, sans-serif;
    font-size: 75px;
    font-weight: 700;
    line-height: 70.5px;
    text-transform: uppercase;
    margin-bottom: 26px;
  }

  .title .content__accent {
    color: #545050;
  }
